bin/Debug/
obj/x86/Debug/CounselQuickPlatinum.SelectTemplateValuesDialog.resources
obj/x86/Debug/CounselQuickPlatinum.SelectSoldierDialog.resources
obj/x86/Debug/CounselQuickPlatinum.SelectNewParentDocumentDialog.resources
obj/x86/Debug/CounselQuickPlatinum.ResourcesTabPage.resources
obj/x86/Debug/CounselQuickPlatinum.ReportsTab.resources
obj/x86/Debug/CounselQuickPlatinum.ReferencesTabPage.resources
obj/x86/Debug/CounselQuickPlatinum.EditSoldierDialog.resources
obj/x86/Debug/CounselQuickPlatinum.EditNoteDialog.resources
obj/x86/Debug/CounselQuickPlatinum.DocumentsTabPage.resources
obj/x86/Debug/CounselQuickPlatinum.DocumentsReportFiltersDialog.resources
obj/x86/Debug/CounselQuickPlatinum.DocumentPropertiesDialog.resources
obj/x86/Debug/CounselQuickPlatinum.DebugDialog.resources
obj/x86/Debug/CounselQuickPlatinum.CounselingsForSoldierForm.resources
obj/x86/Debug/CounselQuickPlatinum.CounselingTab.resources
obj/x86/Debug/CounselQuickPlatinum.ContinuationOfCounselingDialog.resources
obj/x86/Debug/CounselQuickPlatinum.ConfirmDetachDocumentDialog.resources
obj/x86/Debug/CounselQuickPlatinum.CQPTextbox.resources
obj/x86/Debug/CounselQuickPlatinum.CQPTabPage.resources
obj/x86/Debug/CounselQuickPlatinum.CQPTabControl.resources
obj/x86/Debug/CounselQuickPlatinum.CQPSmallPillButton.resources
obj/x86/Debug/CounselQuickPlatinum.CQPSearchBox.resources
obj/x86/Debug/CounselQuickPlatinum.CQPRichTextBox.resources
obj/x86/Debug/CounselQuickPlatinum.ReassignChildDocumentsDialog.resources
obj/x86/Debug/CounselQuickPlatinum.Properties.Resources.resources
obj/x86/Debug/CounselQuickPlatinum.PromptToSubmitCrashReport.resources
obj/x86/Debug/CounselQuickPlatinum.PromptToCompleteCounselingPackageDialog.resources
obj/x86/Debug/CounselQuickPlatinum.PrintHTMLForm.resources
obj/x86/Debug/CounselQuickPlatinum.PregnancyElectionStatementStepTwo.resources
obj/x86/Debug/CounselQuickPlatinum.PregnancyElectionStatementElectionRequest.resources
obj/x86/Debug/CounselQuickPlatinum.PregnancyElectionStatementEditorStepOne.resources
obj/x86/Debug/CounselQuickPlatinum.PDFViewerForm.resources
obj/x86/Debug/CounselQuickPlatinum.OptionsDialog.resources
obj/x86/Debug/CounselQuickPlatinum.NewSoldierPage2Dialog.resources
obj/x86/Debug/CounselQuickPlatinum.NewSoldierPage1Dialog.resources
obj/x86/Debug/CounselQuickPlatinum.NewDocumentPresetDialog.resources
obj/x86/Debug/CounselQuickPlatinum.LetterEditor.resources
obj/x86/Debug/CounselQuickPlatinum.LegalNotice.resources
obj/x86/Debug/CounselQuickPlatinum.ImportConflictDialog.resources
obj/x86/Debug/Counselor.exe
obj/x86/Debug/CounselQuickPlatinum.csprojAssemblyReference.cache
obj/x86/Debug/CounselQuickPlatinum.csproj.GenerateResource.cache
obj/x86/Debug/CounselQuickPlatinum.csproj.FileListAbsolute.txt
obj/x86/Debug/CounselQuickPlatinum.csproj.CoreCompileInputs.cache
obj/x86/Debug/CounselQuickPlatinum.csproj.CopyComplete
obj/x86/Debug/CounselQuickPlatinum.XFDLExportOverflowWarningDialog.resources
obj/x86/Debug/CounselQuickPlatinum.XFDLEditorPage2.resources
obj/x86/Debug/CounselQuickPlatinum.XFDLEditorPage1.resources
obj/x86/Debug/CounselQuickPlatinum.WaitDialog.resources
obj/x86/Debug/CounselQuickPlatinum.UserGeneratedOrTemplateDocDialog.resources
obj/x86/Debug/CounselQuickPlatinum.UserControl1.resources
obj/x86/Debug/CounselQuickPlatinum.UploadUserGeneratedCounselingForm.resources
obj/x86/Debug/CounselQuickPlatinum.TransparentBackgroundForm.resources
obj/x86/Debug/CounselQuickPlatinum.SplashScreen.resources
obj/x86/Debug/CounselQuickPlatinum.SoldiersDialog.resources
obj/x86/Debug/CounselQuickPlatinum.HelpTabPage.resources
obj/x86/Debug/CounselQuickPlatinum.GenericMemoEditorStepTwo.resources
obj/x86/Debug/CounselQuickPlatinum.FormattedSoldierTable.resources
obj/x86/Debug/CounselQuickPlatinum.Form3.resources
obj/x86/Debug/CounselQuickPlatinum.Form2.resources
obj/x86/Debug/CounselQuickPlatinum.Form1.resources
obj/x86/Debug/CounselQuickPlatinum.ExportSoldiersDialog.resources
obj/x86/Debug/CounselQuickPlatinum.CQPPrintButton.resources
obj/x86/Debug/CounselQuickPlatinum.CQPMessageBox.resources
obj/x86/Debug/CounselQuickPlatinum.CQPLinkLabel.resources
obj/x86/Debug/CounselQuickPlatinum.CQPLabel.resources
obj/x86/Debug/CounselQuickPlatinum.CQPGreenButton.resources
obj/x86/Debug/CounselQuickPlatinum.CQPGrayRectangleButton.resources
obj/x86/Debug/CounselQuickPlatinum.CQPGraphicsCheckbox.resources
obj/x86/Debug/CounselQuickPlatinum.CQPGradientPanel.resources
obj/x86/Debug/CounselQuickPlatinum.CQPDocumentsDataGridView.resources
obj/x86/Debug/CounselQuickPlatinum.CQPDateTimePicker.resources
obj/x86/Debug/CounselQuickPlatinum.CQPDataGridView.resources
obj/x86/Debug/CounselQuickPlatinum.CQPButton.resources
obj/x86/Debug/CounselQuickPlatinum.AttachToDocumentDialog.resources
obj/x86/Debug/CounselQuickPlatinum.AssessmentDialog.resources
obj/x86/Debug/CounselQuickPlatinum.AboutDialog.resources
obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
obj/x86/Debug/Counselor.pdb
obj/x86/Debug/CounselQuickPlatinum.SoldierReportFiltersDialog.resources
obj/x86/Debug/CounselQuickPlatinum.SoldierInfoDialog.resources
obj/x86/Debug/CounselQuickPlatinum.RecycleBinDialog.resources
.gitignore
obj/x86/Release/TempPE/
obj/x86/Release/
bin/Release/Copy/
bin/Release/Dotfuscated/Dotfuscator1.xml
bin/Release/Dotfuscated/
Resources/Images/Tabs/Soldier/Thumbs.db
Resources/Images/Tabs/Thumbs.db
Resources/Thumbs.db
Resources/Images/Thumbs.db
.vs/
packages/
obj/x86/Debug/
bin/
