<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="CounselQuickPlatinum.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <CounselQuickPlatinum.Properties.Settings>
            <setting name="DefaultFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="DefaultForeColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="DefaultBackColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="ButtonColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="ButtonForeColor" serializeAs="String">
                <value>ControlText</value>
            </setting>
            <setting name="ButtonFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="DataGridViewBackColor" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="DataGridViewCellBorderStyle" serializeAs="String">
                <value>Single</value>
            </setting>
            <setting name="Form1Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Form1Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Form1SavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="Form1Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Form1Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AboutLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AboutSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AboutSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="AboutHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AboutWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Form2Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Form2Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Form2SavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="Form2Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Form2Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AssessmentDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AssessmentDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AssessmentDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="AssessmentDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AssessmentDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConfirmDetachDocumentDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ConfirmDetachDocumentDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ConfirmDetachDocumentDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="ConfirmDetachDocumentDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConfirmDetachDocumentDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ContinuationOfCounselingDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ContinuationOfCounselingDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ContinuationOfCounselingDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="ContinuationOfCounselingDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ContinuationOfCounselingDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CounselingsForSoldierDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CounselingsForSoldierDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CounselingsForSoldierDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="CounselingsForSoldierDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CounselingsForSoldierDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DocumentPropertiesDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DocumentPropertiesDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DocumentPropertiesDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="DocumentPropertiesDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DocumentPropertiesDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DocumentsReportFiltersLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DocumentsReportFiltersSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DocumentsReportFiltersSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="DocumentsReportFiltersHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DocumentsReportFiltersWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EditNoteDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EditNoteDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EditNoteDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="EditNoteDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EditNoteDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EditSoldierDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EditSoldierDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="EditSoldierDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="EditSoldierDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EditSoldierDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExportSoldiersDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ExportSoldiersDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ExportSoldiersDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="ExportSoldiersDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ExportSoldiersDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LetterEditorLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LetterEditorSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LetterEditorSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="LetterEditorHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LetterEditorWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NewSoldierPage1DialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="NewSoldierPage1DialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="NewSoldierPage1DialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="NewSoldierPage1DialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NewSoldierPage1DialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NewSoldierPage2DialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="NewSoldierPage2DialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="NewSoldierPage2DialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="NewSoldierPage2DialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NewSoldierPage2DialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PDFViewerFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PDFViewerFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PDFViewerFormSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="PDFViewerFormHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PDFViewerFormWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PregnancyElectionStatementEditorStepOneLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PregnancyElectionStatementEditorStepOneSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PregnancyElectionStatementEditorStepOneSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="PregnancyElectionStatementEditorStepOneHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PregnancyElectionStatementEditorStepOneWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CounselingsForSoldierLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CounselingsForSoldierSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CounselingsForSoldierSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="CounselingsForSoldierHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CounselingsForSoldierWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PregnancyElectionStatementStepTwoLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PregnancyElectionStatementStepTwoSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PregnancyElectionStatementStepTwoSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="PregnancyElectionStatementStepTwoHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PregnancyElectionStatementStepTwoWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintHTMLFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PrintHTMLFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PrintHTMLFormSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="PrintHTMLFormHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrintHTMLFormWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoldierInfoDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SoldierInfoDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SoldierInfoDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="SoldierInfoDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoldierInfoDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UploadUserGeneratedCounselingFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="UploadUserGeneratedCounselingFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="UploadUserGeneratedCounselingFormSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="UploadUserGeneratedCounselingFormHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UploadUserGeneratedCounselingFormWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XFDLEditorPage1Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="XFDLEditorPage1Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="XFDLEditorPage1SavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="XFDLEditorPage1Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XFDLEditorPage1Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XFDLEditorPage2Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="XFDLEditorPage2Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="XFDLEditorPage2SavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="XFDLEditorPage2Height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XFDLEditorPage2Width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImportConflictDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ImportConflictDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ImportConflictDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="ImportConflictDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ImportConflictDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LegalNoticeLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LegalNoticeSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LegalNoticeSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="LegalNoticeHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LegalNoticeWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NewDocumentPresetDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="NewDocumentPresetDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="NewDocumentPresetDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="NewDocumentPresetDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NewDocumentPresetDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OptionsDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OptionsDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="OptionsDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="OptionsDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OptionsDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PromptToCompleteCounselingPackageDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PromptToCompleteCounselingPackageDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PromptToCompleteCounselingPackageDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="PromptToCompleteCounselingPackageDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PromptToCompleteCounselingPackageDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PromptToSubmitCrashReportLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PromptToSubmitCrashReportSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PromptToSubmitCrashReportSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="PromptToSubmitCrashReportHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PromptToSubmitCrashReportWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecycleBinDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RecycleBinDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RecycleBinDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="RecycleBinDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RecycleBinDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectNewParentDocumentDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SelectNewParentDocumentDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SelectNewParentDocumentDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="SelectNewParentDocumentDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectNewParentDocumentDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectSoldierDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SelectSoldierDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SelectSoldierDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="SelectSoldierDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectSoldierDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectTemplateValuesDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SelectTemplateValuesDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SelectTemplateValuesDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="SelectTemplateValuesDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SelectTemplateValuesDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoldierReportFiltersDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SoldierReportFiltersDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SoldierReportFiltersDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="SoldierReportFiltersDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoldierReportFiltersDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XFDLExportOverflowWarningDialogLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="XFDLExportOverflowWarningDialogSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="XFDLExportOverflowWarningDialogSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="XFDLExportOverflowWarningDialogHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="XFDLExportOverflowWarningDialogWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GenericMemoEditorStepTwoLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="GenericMemoEditorStepTwoSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="GenericMemoEditorStepTwoSavedWindowState" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="GenericMemoEditorStepTwoHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GenericMemoEditorStepTwoWidth" serializeAs="String">
                <value>0</value>
            </setting>
        </CounselQuickPlatinum.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
