body{background-color: #E3E3EB; font-family: trebuchet MS}
h1{font-size: 30px; color: #165272;}
h2{font-size: 20px}
p{font-size: 16px; color: #565656}
hr{color:165272}
img{margin: 5px 0 0 5px}
img.help-pic{width=100%;}